@charset "utf-8";
/* CSS Document */ * {
padding: 0;
margin: 0;
outline:none;
}
/*
=====================================
Typo Css
=====================================
*/
body {
font-size: 11px;
color: #555;
font-family: Arial, Helvetica, sans-serif;
}
a {
text-decoration: none;
color: #447e36;
}
a:hover {
text-decoration: underline;
}
a img, img {
border: none;
}
ul, ol {
list-style: none;
}
.clear {
clear: both;
line-height: 0;
font-size: 0;
}
h1 {
font-size: 18px;
color: #447e36;
line-height: 16px;
padding-bottom: 10px;
}
h2 {
font-size: 16px;
color: #447e36;
line-height: 16px;
padding-bottom: 10px;
}
h3 {
font-size: 14px;
color: #447e36;
line-height: 16px;
padding-bottom: 10px;
}
h4 {
font-size: 12px;
color: #447e36;
line-height: 16px;
padding-bottom: 10px;
}
h5 {
font-size:12px;
color:#447e36;
padding-bottom: 10px;
}
input {
font-family: tahoma, arial, sans-serif;
font-size: 11px;
color: #666;
}
p {
line-height: 16px;
padding-bottom: 10px;
}
/*
=====================================
Wrapper
=====================================
*/
/*
=====================================
Header
=====================================
*/
#outer_header {
width: 100%;
background: #e0e5ca; url(/images/bg-header2.png) repeat-x center top;
border-top: 8px solid #447e36;
}
#header {
width: 940px;
margin: 0 auto;
}
#header img#logo {
float: left;
margin-left: 16px;
margin-top: 22px;
}
#right_header {
float: right;
width: 645px;
}
#right_header h2 {
text-align: right;
font-size: 20px;
padding-right: 22px;
padding-bottom: 10px;
}
.top_nav {
float: left;
width: 645px;
padding-bottom: 18px;
}
.top_nav ul {
float: right;
}
.top_nav li {
float: left;
padding: 0 2px 0 4px;
background: url(/images/sep-top.png) no-repeat left center;
}
.top_nav li:first-child {
background: none;
}
.top_nav li a {
display: block;
float: left;
padding-left: 10px;
line-height: 23px;
color: #7e7e7e;
}
.top_nav li a span {
display: block;
float: left;
padding-right: 10px;
}
.top_nav li a:hover, .top_nav li a.active {
color: #fff;
background: url(/images/bg-left-topnav.png) no-repeat left top;
text-decoration: none;
}
.top_nav li a:hover span, .top_nav li a.active span {
background: url(/images/bg-right-topnav.png) no-repeat right top;
}
.search {
float: right;
background: #444 url(/images/bg-search.png) no-repeat left top;
width: 263px;
height: 38px;
padding: 13px 0 0 18px;
border-top-right-radius:4px;
border-top-left-radius:4px;
}
.search span {
display: block;
float: left;
width: 246px;
height: 27px;
background: url(/images/bg-search-input.png) no-repeat left top;
}
.search span input {
width: 160px;
float: left;
border: none;
background: none;
height: 15px;
padding: 6px 10px;
}
.search span a {
display: block;
float: right;
background: url(/images/bg-search-btn.png) no-repeat left top;
width: 57px;
line-height: 23px;
color: #fff;
text-decoration: none;
text-align: center;
margin: 2px;
}
/*
=====================================
Navigation
=====================================
*/
#nav {
float: left;
width: 930px;
background: #444 url(/images/bg-nav.png) no-repeat left top;
height: 36px;
padding-top: 5px;
padding-left: 10px;
padding-bottom: 7px;
border-top-left-radius:4px;
border-bottom-left-radius:4px;
border-bottom-right-radius:4px;
}
#nav li {
float: left;
position:relative;
padding-right:1px;
}
#nav li a {
display: block;
float: left;
padding-left: 15px;
line-height: 36px;
color: #fff;
text-decoration: none;
position:relative;
cursor:pointer;
}
#nav li a.dropdown em {
display:block;
float:left;
width:27px;
height:31px;
overflow:hidden;
position:absolute;
right:6px;
bottom:0;
background:url(/images/bg-dropdown-sep-w.png) no-repeat  center 12px;
text-indent:-9999px;	
}
#nav li a span {
display: block;
float: left;
padding-right: 17px;
font-size: 14px;
font-weight: bold;
}
#nav li a:hover, #nav li a.active ,#nav li a.dropdown:hover ,#nav li.hoveract a.dropdown  {
background: url(/images/bg-nav-left.png) no-repeat left top;
color:#fff;
}
#nav li a:hover span, #nav li a.active span ,#nav li a.dropdown:hover span ,#nav li.hoveract a.dropdown span {
background: url(/images/bg-nav-right.png) no-repeat right top;
color: #fff;
}
#nav li a.dropdown span {
padding-right:35px;	
}
#nav li a.dropdown:hover em {
background:url(/images/bg-dropdown-sep.png) no-repeat left top;

}
#nav li:hover >  a.dropdown em {
background:url(/images/bg-dropdown-sep.png) no-repeat left top;		
}
#nav li ul {
position:absolute;
display:none;
right:-80px;
top:36px;
z-index:100;
width:177px;
background:url(/images/bg-nav2.png) no-repeat bottom;
padding-bottom:6px;
}
#nav li:hover ul{
display:block;
}

#nav li ul li {
float:left;
width:auto;
padding:0;
margin:0;
width:171px;
background:#fff;
padding:0 3px;
border-top:1px solid #d5d5d5;	
}
#nav  li:hover ul ul{
display:none;	
}
#nav li ul li:first-child {
border:none;	
}
#nav li ul li  a {
background:#fff;
padding:0;
margin:0;	
width:161px;
line-height:30px;
font-size:12px;
padding-left:10px;
color:#4c7941;
display:block;
font-weight:bold;
cursor:pointer;

}
#nav li ul li  a:hover {
color:#666;	
}
#nav li ul li  a.dropdown {
background:url(/images/sep-down.png) no-repeat 95% center!important;
color:#4c7941!important;
margin:4px 0; 	
}
#nav li ul li  a.dropdown:hover ,#nav li ul li:hover > a.dropdown {
background:url(/images/sep-down.png) no-repeat 95% center!important;
color:#666;
}
#nav li ul li ul {
position:relative;
width:171px;
top:-4px;
left:0;
background:url(/images/bg-dropdown3.png) no-repeat left bottom;
overflow:auto;
display:none;	
}
#nav li ul li ul li {
padding:0;
margin:0;
border:0;
background:#467b39;
width:171px;	
}
#nav li ul li ul li a {
text-indent:10px;
padding:0;
background:0;
width:161px;
margin:0;
color:#fff;
line-height:20px;
padding-left:10px;	
}
#nav li ul li  a.activebg{
background:url(/images/bg-dropdown2.png) no-repeat left top!important;
color:#fff!important;	
}
#nav li ul li  a.activebg:hover,#nav li ul li:hover > a.activebg{
background:url(/images/bg-dropdown2.png) no-repeat left top!important;
color:#fff;
}
#nav li ul li  a:hover {
background:none;
color:#000;	
}
/*
=====================================
Content
=====================================
*/
#outer_content {
width: 100%;
background: url(/images/bg-news.png) repeat-x top;
padding-top: 20px;
}
#content {
width: 940px;
margin: 0 auto;
}
#contentendouter {
width: 100%;
height:120px;
margin: 0 auto;
background:url(/images/footerendouter.png) bottom repeat-x;
}
#contentend {
width: 940px;
height:120px;
margin: 0 auto;
background:url(/images/footerend.png) bottom no-repeat;
}
/*
===============================
Content Home
===============================
*/
.heading_content {
width: 100%;
float: left;
background: url(/images/bg-3.png) no-repeat right top;
}
.heading_content h2 {
float: left;
background: #f7f7f7;
padding: 13px 15px;
border: 1px solid #d5d5d5;
border-bottom: none;
position: relative;
bottom: -1px;
}
/*
=====================================
Banner
=====================================
*/
#banner {
width: 940px;
margin: 0 auto;
height: 365px;
}
#banner_wrapp {
width: 940px;
float: left;
background: url(/images/bg-banner-shadow.png) no-repeat left bottom;
padding-bottom: 13px;
margin-bottom:5px;
height: 312px;
position:relative;
}
#banner_slider {
width: 924px;
float: left;
padding: 8px;
background: #f1f1f1;
height: 296px;
}
#banner_images {
position:relative;
width:940px;
height:312px;
overflow:hidden;
float:left;	
z-index:5;
}
/*
=====================================
News Scroller
=====================================
*/
#outer_news {
width: 100%;
background: url(/images/bg-news.png) repeat-x left top;
}
/*
===============================
Content inner Page
===============================
*/

#breadcrumb {
width:940px;
float:left;
margin-bottom:7px;
}
#breadcrumb li {
float:left;
padding-right:9px;
}
#breadcrumb li:first-child a {
padding-left:0;
background:none;
}
#breadcrumb li a {
display:block;
float:left;
background:url(/images/sep-footer.png) no-repeat left 6px;
line-height:16px;
padding-left:11px;
color:#999;
}
#breadcrumb li a.active {
color:#447e36;
}
#banner_inner {
width:940px;
float:left;
padding-bottom:13px;
background:url(/images/bg-banner-shadow.png) no-repeat bottom left;
margin-bottom:5px;
}
#banner_inner_wrapp {
float:left;
width:928px;
padding:6px;
height:130px;
background:#f1f1f1;
position:relative;
}
#banner_inner_wrapp h1 {
position:absolute;
left:5px;
background:0;
float:left;
font-size:26px;
padding:0;
padding-left:16px;
color:#fff;
line-height:44px;
padding-right:23px;
background:url(/images/bg-hd-banner.png) no-repeat right top;
height:62px;
letter-spacing:-0.04em;
bottom:12px;
}
/*
=====================================
Footer
=====================================
*/ 

#outer_footer {
width:100%;
background:url(/images/bg-outer-footer.png) repeat-x top;
}
#outer_footer_sec {
width:100%;
height:216px;
}
#footer {
width:940px;
margin:0 auto;
padding-top:20px;
}
#footer h2 {
font-size:18px;
line-height:17px;
padding-bottom:16px;
}
.left_footer {
float:left;
width:710px;
}
.footer_tags {
width:710px;
float:left;
height:150px;
}
.footer_nav {
float:left;
width:710px;
line-height:15px;
}
.footer_nav p {
float:left;
padding:0;
padding-right:30px;
}
.footer_nav ul {
float:left;
}
.left_footer .footer_nav ul li {
float:left;
width:auto;
background:url(/images/sep-top.png) no-repeat left 3px;
padding:0 10px 0 12px;
}
.left_footer .footer_nav ul li:first-child {
background:none;
}
.left_footer .footer_nav ul li a {
padding:0;
background:none;
font-family:tahoma, arial, sans-serif;
color:#666;
}
.left_footer .footer_nav ul li a:hover {
background:none;
font-weight:normal;
}
.left_footer li {
float:left;
width:175px;
padding-bottom:8px;
}
.left_footer li a {
display:block;
float:left;
padding-left:9px;
background:url(/images/sep-footer.png) no-repeat left 4px;
font-family:tahoma, arial, sans-serif;
color:#818181;
}
.left_footer li a:hover {
background:url(/images/sep-footer-hover.png) no-repeat left 4px;
font-weight:bold;
color:#447e36;
text-decoration:underline;
}
.right_footer {
width:220px;
float:right;
}
.right_footer p {
color:#818181;
padding-bottom:8px;
line-height:18px;
}
.contact_area {
float:left;
width:220px;
height:150px;
}
/*
Courses
*/
#courses_sec {
width:940px;
float:left;
margin-bottom:10px;	
}
.course_content {
float:left;
width:920px;
border:1px solid #d5d5d5;
background:#f7f7f7;
padding:12px 9px;	
}
.left_course {
float:left;
width:218px;
border:1px solid #eaeaea;
background:#fff;	
}
.left_course h2 {
background:#447e36;
color:#fff;
padding:5px 11px;
line-height:18px;
padding-bottom:10px;
border-bottom:1px solid #eaeaea;	
}
.course_menu {
float:left;
width:188px;
padding:10px 10px 5px 20px;	
}
.course_menu li {
float:left;
width:188px;
margin-bottom:10px;	
}
.course_menu li a {
font-weight:bold;
font-size:14px;
color:#797979;
line-height:18px;	
}
.course_menu li a:hover {
color:#447e36;
text-decoration:none;	
}
.right_course {
float:right;
width:666px;
background:#fff;
border:1px solid #eaeaea;
padding:10px 10px 12px 12px;	
}
.right_course ul {
	list-style-type:none;
	list-style-image:url(/images/bullet.png);
	padding-left:20px;
	line-height:18px;	
	padding-top:10px;
	padding-bottom:10px;
}

.right_course img {
float:left;
margin-bottom:14px;	
}
.right_course h3 {
padding-bottom:8px;	
}
.right_course p {
line-height:15px;
padding-bottom:10px;
text-align:justify;	
}

.bottom_info {
float:left;
width:920px;	
}

.bottom_info h3 img {
float:left;
margin-right:6px;	
}
.left_info {
float:left;
width:508px;	
}
.right_info {
float:right;
width:355px;	
}


/**/

